{{template "base" .}}

{{define "title"}}New post{{end}}

{{define "styles"}}
<link rel="stylesheet" href="/static/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/addPost.css">
<link rel="stylesheet" href="/static/css/home.css">
<link rel="shortcut icon" href="/static/images/new_post.svg" type="image/x-icon">
{{end}}

{{define "body"}}
<div class="post-container">
    <form class="post" method="POST">
        <label for="post-title">Title:</label>
        <input type="text" id="post-title" name="title"><br>
        <label for="post-content">Content:</label>
        <textarea id="post-content" name="content" rows="1"></textarea><br>
        <div id="categories">
            {{range .Categories}}
                <div class="checkbox-container">
                    <input type="checkbox" class="categoryInput" name="category[]" value="{{.}}">
                    <label class="checkmark" for="category-{{.}}">{{.}}</label>
                </div>
            {{end}}
        </div>
        <button id="addPostSubmit" type="submit">Submit</button>
      </form>   
</div>
{{end}} 

{{define "scripts"}}
<script src="/static/js/addPost.js"></script>
{{end}}
