<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>New post</title>
</head>
<body>
    <form method="POST">
        <label for="form-title">Title:</label>
        <input type="text" id="form-title" name="title"><br>
      
        <label for="form-content">Content:</label>
        <textarea id="form-content" name="content"></textarea><br>
      
        <button type="submit">Submit</button>
      </form>
      
</body>
</html>