<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/images/main_ico.svg" type="image/x-icon">
    <title>Forum</title>
    <script src="/static/js/script.js"></script>
</head>
<body>
   <header>
    <button class="profile">{{if .User.Name}}{{.User.Name}}{{else}} <a href="sign-in">Login</a>{{end}}</button>
    {{if .User.Name}}<a href="/logout" class="profile">Logout</a>{{end}}
    <a href="/post/add" class="new-post">+</a>
   </header>
    <section>
        <div class="post-container">
            {{range .Posts }}
            <div class="post">
                <div class="post-categories">
                    {{range .Category}}
                    <div class="post-category">{{.}}</div>
                    {{end}}
                </div>
                <div class="post-title">{{ .Title }}</div>
                <div class="post-content">{{.Content}}</div>
                {{if eq $.User.ID .User_ID}}
                    <form action="" style="visibility: hidden;" id="form">
                        <input type="text" value="{{.Content}}">
                        <input style="visibility: hidden;" value="{{.Title }}">
                        <input style="visibility: hidden;" value="{{.Title }}">
                    </form>
                {{end}}
                <div class="post-author">{{.Author}}</div>
                <div class="post-date">Created at: {{.CreatedStr}}</div>
                <div class="post-update">Last update: {{.UpdatedStr}}</div>
                <div class="post-rating">
                    <div class="post-comments">{{.Comments}}
                        <a href="/post/comments/?id={{.ID}}"><img class="rate_button" src="/static/images/comments.svg" alt="Comments"></a>
                    </div>
                    <div class="post-likes">{{.Likes}}
                        <form action="/post/rate" method="POST">
                            <input type="hidden" name="id" value="{{.ID}}">
                            <input type="hidden" name="action" value="like">
                            <button type="submit"><img class="rate_button" src="/static/images/like.svg" alt="Like"></button>
                        </form>
                    </div>
                    <div class="post-dislikes">{{.Dislikes}}
                        <form action="/post/rate" method="POST">
                            <input type="hidden" name="id" value="{{.ID}}">
                            <input type="hidden" name="action" value="dislike">
                            <button type="submit"><img class="rate_button" src="/static/images/!like_2.svg" alt="Dislike"></button>
                        </form>
                    </div>
                    
                </div>
                {{if eq $.User.ID .User_ID}}
                <button onclick="myFunction()"><img class="rate_button" src="/static/images/edit.svg" alt="Edit"></button>
                <a href="/post/delete/?id={{.ID}}"><img class="rate_button" src="/static/images/trash.svg" alt="Delete"></a>
                {{end}}
            </div>
            {{else}}
            <p>No posts found</p>
            {{end}}
            
        </div>
    </section>
    <script>
        function myFunction() {
            document.getElementById("form").style.visibility = "visible";
        } 

    </script>
</body>
</html>