<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Forum</title>
</head>
<body>
   <header>
    <button class="profile">{{if .User.Name}}{{.User.Name}}{{else}} <a href="sign-in">Login</a>{{end}}</button>
    {{if .User.Name}}<button class="profile"><a href="/logout">Logout</a> </button>{{end}}
    <a href="/post/add" class="new-post">+</a>
   </header>
    <section>
        <div class="post-container">
            {{range .Posts }}
            <div class="post">
                <div class="post-categories">
                    {{range .Category}}
                    <div class="post-category">{{.}}</div>
                    {{end}}
                </div>
                <div class="post-title">{{ .Title }}</div>
                <div class="post-content">{{.Content}}</div>
                <div class="post-author">{{.Author}}</div>
                <div class="post-date">Created at: {{.CreatedStr}}</div>
                <div class="post-update">Last update: {{.UpdatedStr}}</div>
                {{if eq $.User.ID .User_ID}}
                <a href="/post/update/?id={{.ID}}">Change</a>
                <a href="/post/delete/?id={{.ID}}">Delete</a>
                {{end}}
                <a href="/post/like/?id={{.ID}}"><img class="like" src="/static/images/like.svg" alt=""></a>
                <a href="/post/dislike/?id={{.ID}}">dislike</a>
            </div>
            {{else}}
            <p>No posts found</p>
            {{end}}
            
        </div>
    </section>
</body>
</html>