<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
</head>
<body>
    <header>
        <button class="profile">{{if .Name}}{{.Name}}{{else}}Login{{end}}</button>
    </header>
    <section>
        <div class="Category-container">{{.Topics}}</div>
        <div class="Post-container">
            {{range .}}
            <div class="post-title">{{.Title}}</div>
            <div class="post-content">{{.Content}}</div>
            <div class="post-author">{{.Author}}</div>
            <div class="post-date">{{.Created}}</div>
            {{end}}
        </div>
    </section>
</body>
</html>