{{template "base" .}}
{{define "styles"}}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/single-post.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/auth.css">
    <link rel="shortcut icon" href="/static/images/edit_ico.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200&display=swap" rel="stylesheet">
{{end}}

{{define "title"}}
    {{.Post.Title}}
{{end}}

{{define "body"}}
<div id="overlay"></div>
<div id="post_id" hidden>{{.Post.ID}}</div>
<div id="post_user_id" hidden>{{.Post.User_ID}}</div>   
<div id="user_id" user-id={{if .User}}{{.User.ID}}{{end}} hidden></div>
<div class="single-post-container">
    <div class="single-post-actions">
        {{if .User}}
            {{if eq .User.ID .Post.User_ID}}
            <div id="edit-container">
                <span id="update-post">
                    {{template "update" .}}
                </span>
                <span id="delete-post">
                    {{template "delete" .}}
                </span>
            </div>
            <div id="decision-container" class="hidden">
                <span id="submit-update-post">
                    ✔️
                </span>
                <span id="discard-update-post">
                    X
                </span>
            </div>
            {{end}}
        {{end}}
    </div>
    {{template "sign-up" .}}
    {{template "sign-in" .}}
    <div class="single-post">
        <div class="single-post-rating">
            <div class="single-post-likes">{{.Post.Likes}}
                    <button class="post-likeBtn" post-id={{.Post.ID}} type="submit">
                        {{template "like" .}}
                    </button>
                </form>
            </div>
            <div class="single-post-dislikes">{{.Post.Dislikes}}
                
                    <button class="post-dislikeBtn" post-id={{.Post.ID}} type="submit">
                        {{template "dislike" .}}
                    </button>
                </form>
            </div>
        </div>
        <div class="single-post-content">
            <div class="single-post-categories">
                {{range .Post.Category}}
                <div class="single-post-category">{{.}}</div>
                {{end}}
            </div>
            <div class="single-post-author"> Posted by: {{.Post.Author}} at {{.Post.Created}}</div>
            <div class="single-post-title">{{.Post.Title }}</div>
            <div class="single-post-content"><p>{{.Post.Content}}</p></div>
            <div class="single-post-update">Last update: {{.Post.Updated}}</div>
        </div>
        <div id="edit-single-content" class="hidden">
            <label>Title:</label>
            <input type="text" id="edit-post-title">
            <label>Content:</label>
            <textarea id="edit-post-content"></textarea>
        </div>
    </div>
    <div class="add-comment">
        {{if .User}}
            <label class="add-comment-author" for="new-comment">Comment as {{.User.Name}}</label>
            <input type="text" name="comment-content" class="add-comment-input" id="new-comment">
            <button class="addCommentSubmitBtn" id="addCommentSubmitBtn" type="submit">Add</button>  
            <button class="addCommentBtn" id="addCommentBtn" type="submit" hidden><b>+</b>Add a Comment</button> 
        {{else}}
            <input type="text" name="comment-content" class="add-comment-input" id="new-comment" hidden>
            <button class="addCommentSubmitBtn" id="addCommentSubmitBtn" type="submit" hidden>Add</button>
            <button class="addCommentBtn" id="addCommentBtn" type="submit"><b>+</b>Add a Comment</button>    
        {{end}}
    </div>
    <div class="single-post-comments">
        {{if .User}}
            <div class="comments">
                {{range .Comments}}
                    {{if eq $.User.ID .User_ID}}
                        <div class="comment-author">{{.User_ID}}</div>
                        <div class="my-comment">
                            <div class="my-comment-body">
                                <div class="my-comment-author">
                                    You commented:
                                </div>
                                <div class="my-comment-content">
                                    {{.Content}}
                                </div>
                            </div>
                            <details class="my-comment-details">
                                <summary>Edit</summary>
                                <div class="details-content">
                                    <button class="edit-comment">{{template "update" .}}</button>
                                    <button class="delete-comment">{{template "delete" .}}</button>
                                </div>
                            </details>
                            <div class="rating">
                                <div  class="comment-likeBtn" comment-id={{.ID}}>
                                    <span class="likes">{{.Likes}}</span>
                                    {{template "like" .}}
                                </div>
                                <div class="comment-dislikeBtn" comment-id={{.ID}}>
                                    <span class="dislikes">{{.Dislikes}}</span>
                                    {{template "dislike" .}}
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <div class="comment-author">{{.User_ID}}</div>
                        <div class="else-comment">
                            <div class="else-comment-body">
                                <div class="else-comment-author">
                                    {{.Author}} commented:
                                </div>
                                <div class="else-comment-content">
                                    {{.Content}}
                                </div>
                            </div>
                            <div class="rating">
                                <div class="comment-likeBtn" comment-id={{.ID}}>
                                    <span class="likes">{{.Likes}}</span>
                                    {{template "like" .}}
                                </div>
                                <div class="comment-dislikeBtn" comment-id={{.ID}}>
                                    <span class="dislikes">{{.Dislikes}}</span>
                                    {{template "dislike" .}}
                                </div>
                            </div>
                        </div>
                    {{end}}
                {{end}}
        {{else}}
            {{range .Comments}}
                <div class="comment">
                        <div class="comment-body">
                            <div class="comment-author">
                                {{.Author}} commented:
                            </div>
                            <div class="comment-content">
                                {{.Content}}
                            </div>
                        </div>
                        <div class="rating">
                            <div class="comment-likeBtn" comment-id={{.ID}}>
                                <span class="likes">{{.Likes}}</span>
                                {{template "like" .}}
                            </div>
                            <div class="comment-dislikeBtn" comment-id={{.ID}}>
                                <span class="dislikes">{{.Dislikes}}</span>
                                {{template "dislike" .}}
                            </div>
                        </div>
                </div>
                {{end}}
                {{end}}
            </div>
    </div>
</div>
{{end}}

{{define "scripts"}}
   <script src="/static/js/script.js"></script>
   <script src="/static/js/post.js"></script>
   <script src="/static/js/global.js"></script>
{{end}}




