{{template "base" .}}

{{define "title"}}Post{{end}}
{{define "styles"}}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/post.css">
{{end}}
{{define "body"}}
    <div class="post">
        <div class="post-form">
            <form action="/post/update/" method="post">
                <label for="post-title">Title:</label>
                <input type="text" id="post-title" name="title"><br>
                <label for="post-content">Content:</label>
                <textarea id="post-content" name="content" rows="1"></textarea><br>
                <div id="categories">
                {{range .Categories}}
                <div class="checkbox-container">
                <input type="checkbox" class="categoryInput" name="category[]" value="{{.}}">
                <label class="checkmark" for="category-{{.}}">{{.}}</label>
                {{end}}
            </form>
        </div>
        <div class="post-content">
            <div class="post-categories">
                {{range .Category}}
                <div class="post-category">{{.}}</div>
                {{end}}
            </div>
            <div class="post-title">{{ .Title }}</div>
            <div class="post-text">{{.Content}}</div>
            <div class="post-author">{{.Author}}</div>
            <div class="post-date">Created at: {{.CreatedStr}}</div>
            <div class="post-update">Last update: {{.UpdatedStr}}</div>
            <div class="post-rating">
                <div class="post-comments">{{.Comments}}
                    {{range .Comments}}
                        {{.User_ID}} says: <br>
                        {{.Content}}
                        {{end}}
                </div>
                <div class="post-likes">{{.Likes}}
                    <form action="/post/rate" method="POST">
                        <input type="hidden" name="id" value="{{.ID}}">
                        <input type="hidden" name="action" value="like">
                        <button type="submit"><img class="rate_button" src="/static/images/like.svg" alt="Like"></button>
                    </form>
                </div>
                <div class="post-dislikes">{{.Dislikes}}
                    <form action="/post/rate" method="POST">
                        <input type="hidden" name="id" value="{{.ID}}">
                        <input type="hidden" name="action" value="dislike">
                        <button type="submit"><img class="rate_button" src="/static/images/!like_2.svg" alt="Dislike"></button>
                    </form>
                </div>
            </div>
            {{if eq $.User.ID .User_ID}}
            <a href="/post/update/?id={{.ID}}"><img class="rate_button" src="/static/images/edit.svg" alt="Edit"></a>
            <a href="/post/delete/?id={{.ID}}"><img class="rate_button" src="/static/images/trash.svg" alt="Delete"></a>
            {{end}}
        </div>
    </div>
{{end}}