.post-container {
    width: 50%;
    max-width: 800px;
    margin: 50px;
    padding: 20px;
}
  
.post {
  border: 1px solid #6d6d6dbd;
  padding: 10px;
  margin: 300px 0px 20px 0px;
  background-color: #171717;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:10px;
}
  
.post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-content {
  margin-bottom: 10px;
}

.post-author {
  font-style: italic;
  color:#6d6d6dbd;
  font-size: 14px;
}

.post-date, .post-update {
  font-size: 12px;
  margin-bottom: 10px;
}

.post-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:50px;
}

.post-rating img.rate_button {
  max-width: 20px;
  height: auto;
  margin-right: 5px;
}

.post-categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.post-category {
  background-color: #ccc;
  color: #333;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.post-likes {
  display:flex;
  justify-content: center;
  align-items: center;
  height:fit-content;
}

.post-dislikes {
  display:flex;
  justify-content: center;
  align-items: center;
  height:fit-content;
}

p{
  margin:0px;
}

#post-title {
    padding: 10px 15px;
    width:95%;
    margin-bottom: 10px;
    border: 1px solid #6d6d6dbd;
    background-color: #1f1f1f;
    color:#f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#post-content {
    min-height: 150px;
    width: 95%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #6d6d6dbd;
    background-color: #1f1f1f;
    color:#f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
#addPostSubmit {
    background-color: #ffffff;;
    color: #1c1c1c;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    width: 120px;
    text-align: center;
    align-self: end;
}

#addPostSubmit:hover {
  background-color: #6d6d6dbd;
}

#categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    /* gap: 42px; */
}
  
.checkbox-container {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.categoryInput {
  display: none;
}


.checkbox-container .checkmark {
  display: block;
  height: 25px;
  padding:10px;
  width: 75px;
  background-color: rgba(238, 238, 238, 0);
  color: #ffffff;
  border: 1px solid white;
  border-radius: 35px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.checkmark:hover {
  background-color: #ccc;
}

.categoryInput:checked ~ .checkmark {
  background-color: #f87543;
  color: #f5f5f5;
  border: 1px solid #f87543;
}
  