
#body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.main {
    background-color:#030303;
    color: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
}

@media (max-width: 1000px) {
    .menu {
      display: none !important;
    }
}

.menu {
    display:flex;
    flex-direction: column;
    position: absolute;
    top:0;
    left:0;
    background-color: #1f1f1f;
    color:#EDEDED;
    padding: 50px 10px 150px 10px;
    justify-content: space-between;
    height:100vh;
    width:250px;
    z-index: 98;
}

.menuAuth{
    margin-bottom: 70px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.menuSignOut, .menuSignUp {
    background-color: #f8764300;
    color: #EDEDED;
    cursor: pointer;
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 50px;
    width: 120px;
    text-align: center;
}

.menuSignUp:hover, .menuSignOut:hover{
    background-color: #f87543;
    border: 2px solid rgba(255, 255, 255, 0);
}

.icon {
    width:25px;
    height:25px;
    padding-bottom:5px;
}

.menu h3 {
    font-weight: 200;
    color:#adadad
}

.menuitem {
    display: flex;
    align-items: center;
    gap:5px;
    color: #fffdfd;
    padding: 8px 24px;
    font-weight: 200;
}

.menuitem:hover {
    background-color: #333333;
}

.new-post {
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: #fff;
    background-color:#333333;
    cursor: pointer;
    font-size: 26px;
    border-radius: 13%;
    text-align: center;
    width: 59px;
}

.profile{
    margin-right: 150px;
    border:none;
    color:#f87543;
    background-color:rgba(255, 255, 255, 0);
    font-size:16px;
}

.profile:hover {
    color:#fff9f7
}


.post-dislikeBtn, .comment-dislikeBtn, .post-likeBtn, .comment-likeBtn  {
    border:none;
    background-color: #f5f5f500;
    color:#EDEDED;
}

.post-dislikeBtn:hover, .comment-dislikeBtn:hover, .post-likeBtn:hover, .comment-likeBtn:hover {
    cursor:pointer;
}

.post-dislikeBtn:hover [class^="pattern"], .comment-dislikeBtn:hover [class^="pattern"]{
    stroke: rgb(43, 194, 245);
    
}

.post-likeBtn:hover [class^="pattern"], .comment-likeBtn:hover [class^="pattern"] {
    stroke:#f87543;
}

.pattern-rect {
    stroke: rgb(255, 255, 255);
    stroke-width: 2; 
    stroke-dasharray: none;
    stroke-linecap: butt; 
    stroke-dashoffset: 0; 
    stroke-linejoin: round; 
    stroke-miterlimit: 10; 
    is-custom-font: none; 
    font-file-url: none; 
    fill: none; 
    fill-rule: nonzero; 
    opacity: 1;
}

.pattern-dislike{
    stroke: rgb(255, 255, 255); 
    stroke-width: 2; 
    stroke-dasharray: none; 
    stroke-linecap: butt; 
    stroke-dashoffset: 0;
    stroke-linejoin: round; 
    stroke-miterlimit: 10; 
    is-custom-font: none; 
    font-file-url: none; 
    fill: none; 
    fill-rule: 
    nonzero; 
    opacity: 1;
}

.pattern-like {
    stroke: rgb(255, 255, 255); 
    stroke-width: 2; 
    stroke-dasharray: none; 
    stroke-linecap: butt; 
    stroke-dashoffset: 0;
    stroke-linejoin: round; 
    stroke-miterlimit: 10; 
    is-custom-font: none; 
    font-file-url: none; 
    fill: none; 
    fill-rule: 
    nonzero; 
    opacity: 1;
}

.header-username {
    font: size 16px;
    font-weight: 300;
    color:#f87543;
}

.header-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    position:absolute;
    max-height: 20px;
    width:70px; 
    right:80px;
}
.header-details[open] .details-content {
    max-height: 20px; /* Adjust the value as needed */
}

.details-content {
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.header-details a {
    text-decoration: none;
    color: #EDEDED;
}

.header-details a:hover {
    background-color: #adadad;
}


.menuCategoryInput {
  display: none;
}
  
/*   
.menu-checkbox-container .menuCheckmark {
  display: block;
  height: 25px;
  padding:10px;
  width: 75px;
  background-color: rgba(238, 238, 238, 0);
  color: #ffffff;
  border: 1px solid white;
  border-radius: 35px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.menuCheckmark {
    width: 100%;
    color: #EDEDED;
    font-weight: 400;
}
.menuCheckmark:hover {
    color: #1c1c1c;
}

.menu-checkbox-container:hover {
  background-color: #ccc;
  color: #1c1c1c;
}
/* 
.menuCategoryInput:checked ~ .menu-checkbox-container {
  background-color: #f87543;
  color: #f5f5f5;
  border: 1px solid #f87543;
} */
    
.menu-checkbox-container.checked {
    background-color: #f87543;
    color: #f5f5f5;
    /* border: 1px solid #f87543; */
    font-weight: 600;
}